img {
    display: inherit;
    margin-left: auto;
    margin-right: auto;
}

.parsing-definition {
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.parsing-definition img#input {
    height: 100px;
}

.parsing-definition img#transform {
    width: 100px;
}

.parsing-definition img#output {
    height: 100px;
}
